<div id="particles-js">
	<div class="header">
		<h1>
		  <span class="site-title">{{ site.author }}</span>
		  <span class="site-description">{{ site.role }}</span>
		</h1>
		<div class="header-icons">
		  
		  <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/snehal-shokeen-75a645186/"><i class="icon fa devicon-linkedin-plain" aria-hidden="true"></i></a>
		  <a aria-label="Send email" href="mailto:snehalshokeen@gmail.com"><span class="icon fa material-icons">email</span></i></a> 
		  <a aria-label="My Github" target="_blank" href="https://github.com/snehal-sas?tab=repositories"><i class="icon fa devicon-github-plain" aria-hidden="true"></i></a>
		  <a aria-label="Resume" target="_blank" href="/snehal/assets/files/test.html"><span class="icon fa material-icons">description</span></a>
		</div>
		
	</div>
	<a class="down" href="#content" data-scroll><span class="material-icons">keyboard_arrow_down</span></a>
  </div>