/* not used */

@font-face {
  font-family: 'devicon';
  src:  url('fonts/devicon.eot?yl3aib');
  src:  url('fonts/devicon.eot?yl3aib#iefix') format('embedded-opentype'),
    url('fonts/devicon.ttf?yl3aib') format('truetype'),
    url('fonts/devicon.woff?yl3aib') format('woff'),
    url('fonts/devicon.svg?yl3aib#devicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="devicon-"], [class*=" devicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-github-original:before {
  content: "\e909";
}
.devicon-github-original-wordmark:before {
  content: "\e90a";
}

.devicon-linkedin-plain-wordmark:before {
  content: "\e946";
}
.devicon-linkedin-plain:before {
  content: "\e947";
}
